<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http:://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/ file:///usr/share/openbox/menu.xsd">
    <menu id="root-menu" title="Menu" label="Menu">
        <item label="Terminal">
            <action name="Execute">
                <command>alacritty</command>
            </action>
        </item>
        <item label="Browser">
            <action name="Execute">
                <command>firedragon</command>
            </action>
        </item>
        <item label="Thunar">
            <action name="Execute">
                <command>thunar</command>
            </action>
        </item>
        <item label="Geany">
            <action name="Execute">
                <command>geany</command>
            </action>
        </item>
        <item label="Keepass">
            <action name="Execute">
                <command>keepassxc</command>
            </action>
        </item>
        <item label="Syncthing">
            <action name="Execute">
                <command>firedragon localhost:8384</command>
            </action>
        </item>
        <item label="Dark">
            <action name="Execute">
                <command>sh ~/.config/openbox/themes/dark.sh</command>
            </action>
        </item>
        <item label="Light">
            <action name="Execute">
                <command>sh ~/.config/openbox/themes/light.sh</command>
            </action>
        </item>
    </menu>
</openbox_menu>
